# files
*.c
*.cover
*.egg
*.egg-info
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.env
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.venv
.webassets-cache
Cargo.lock
MANIFEST
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
dmypy.json
ipython_config.py
local_settings.py
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
uv.lock

# folders
*.egg-info/
.eggs/
.hypothesis/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pytest_cache/
.tox/
.venv/
.virtual_documents/
.vscode/
ENV/
__pycache__/
__pypackages__/
bin/
build/
develop-eggs/
dist/
docs/_build/
docs/site/
downloads/
eggs/
env.bak/
env/
extra/
htmlcov/
include/
instance/
lib/
lib64/
man/
parts/
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
site/
target/
var/
venv.bak/
venv/
wheelhouse/
wheels/
